<html>

<p>
This is my (Stefan Aleksic) [very alpha version] submission to the House of Representatives app competition! Basically, the app searches through 200 most recent tweets containing the text input given by the user and uses a sophisticated machine learning algorithm to average the "happiness" of each tweet. The most happy tweets are 10/10, the least happy are 0/10. 
</p>

<p>Although 200 is a quite smalll representative sample, anything more than 200 tweets would take far too much time. </p>

<p>This was created using:
Flask, Python, HTML, CSS, and a little bit of dark magic. </p>

<p>To contact me, my email is stefan (at symbol (to protect against spam)) stefanaleksic.com </p>

<p>The background was taken from Subtle Textures and is called Skulls! </p>

</html>