<html>
<head>
<meta charset="UTF-8">
<title>
Welcome To Bestr!
</title>
<link rel="stylesheet"
      type="text/css"
      href="/static/main.css"/>


</head>



<body> 
  <div id = "theForm">

    <form action="." method="POST">
        <input type="text" name="text" id = "theTextThing" placeholder = "twitter gods will rate this.">
        <input type="submit" name="my-form" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
	{% if name %}
  		<h1>{{name}}</h1>
  	{% endif %}
  {% if finding %}
  	<h1 id = "theFinding">{{finding}}</h1>
  {% endif %}
    {% if errorThing %}
  	<h1>{{errorThing}}</h1>
  {% endif %}
  </div>
  <a href = "/about">About this app.</a>
</body>


</html>